<div style="width:100%;position:absolute;height: 50px;bottom:0px;border:1px solid #00000026">
    <div style="width:24%;display: inline-block;text-align: center;padding:4px">
    <div>
    </div>
    <div style="font-size: 12px;">
        Products
    </div>

    </div>
    <div style="width:24%;display: inline-block;text-align: center">
        <div>
            </div>
            <div style="font-size: 12px;">
                Orders
            </div>
    </div>
    <div style="width:24%;display: inline-block;text-align: center">
           <div>
            </div>
            <div style="font-size: 12px;">
                cart
            </div>
    </div>
    <div style="width:24%;display: inline-block;text-align: center">
            <div>
                </div>
                <div style="font-size: 12px;">
                    Account
                </div>
    </div>
</div>
