<div style="width:100%;position:absolute;height: 50px;bottom:0px;border:1px solid #00000026">
    <div style="width:24%;display: inline-block;text-align: center;padding:4px">
    <div>
            <img src="../../../content/images/png/p.png"/>

    </div>
    <div style="font-size: 12px;">
        Products
    </div>

    </div>
    <div style="width:24%;display: inline-block;text-align: center">
        <div>
            <img src="../../../content/images/png/ob.png"/>
        </div>
            <div style="font-size: 12px;">
                Orders
            </div>
    </div>
    <div style="width:24%;display: inline-block;text-align: center">
           <div>
                <img src="../../../content/images/png/cb.png"/>

            </div>
            <div style="font-size: 12px;">
                Cart
            </div>
    </div>
    <div style="width:24%;display: inline-block;text-align: center">
            <div>
                    <img src="../../../content/images/png/ab.png"/>

                </div>
                <div style="font-size: 12px;">
                    Account
                </div>
    </div>
</div>
