


<div style="width:100%;position:fixed;height: 50px;bottom:0px;border:1px solid #00000026;background:#fff">
    <div  routerLink="/listing" style="cursor:pointer;outline:none;width:24%;display: inline-block;text-align: center;padding:4px">
    <div >
            <img *ngIf="router.url==='/listing'" src="../../../content/images/png/p.png"/>
            <img *ngIf="router.url!=='/listing'" src="../../../content/images/png/pb.png"/>


    </div>
    <div style="font-size: 12px;">
        Products
    </div>

    </div>
    <div [routerLink]="['/user-orders']" style="outline:none;cursor:pointer;width:24%;display: inline-block;text-align: center">
        <div>
            <img *ngIf="router.url==='/user-orders' || router.url.indexOf('order-tracker')>=0" src="../../../content/images/png/o.png"/>
            <img *ngIf="router.url!=='/user-orders' && router.url.indexOf('order-tracker')==-1" src="../../../content/images/png/ob.png"/>

        </div>
            <div style="font-size: 12px;">
                Orders
            </div>
    </div>
    <div [routerLink]="['/user-cart']" style="outline:none;cursor:pointer;width:24%;display: inline-block;text-align: center">
           <div>
                <img *ngIf="router.url==='/user-cart'" routerLinkActive="router-link-active"  src="../../../content/images/png/c.png"/>
                <img  *ngIf="router.url!=='/user-cart'"  src="../../../content/images/png/cb.png"/>

            </div>
            <div style="font-size: 12px;">
                Cart <span *ngIf="cartCount>0" style="display: inline-block;
                    width: 15px;
                    height: 15px;
                    background: #198c19;
                    font-size: 62%;
                    padding: 1px;
                    border-radius: 100%;
                    color: white;
                    font-weight: bold;
                    position: absolute;
                    top: 3px;
                    padding-top:2px"> {{cartCount}}</span>
            </div>
    </div>
    <div routerLink="/my-account" style="cursor:pointer;width:22%;display: inline-block;text-align: center;outline:none;">
            <div>
                    <img *ngIf="router.url!=='/my-account'" src="../../../content/images/png/ab.png"/>
                    <img *ngIf="router.url==='/my-account'" src="../../../content/images/png/a.png"/>

                </div>
                <div style="font-size: 12px;">
                    Account
                </div>
    </div>
</div>
