
<div  style="padding-top:50px">
    <div class="container" style="font-size: 12px">
        <div style="padding-bottom: 100px;" class="row">
            <div style="padding:15px" class="col-md-4">
                <div [routerLink]="['/dashboard/orders']" style="border: 1px solid black;height: 150px;text-align: center;padding: 45px 0px;">
                        <h3>Orders</h3>
                        <p *ngIf="activeCount!=undefined && activeCount!=null ">{{activeCount}} Active Orders </p>
                </div>

            </div>
            <div style="outline:none;cursor:pointer;padding:15px" [routerLink]="['/dashboard/products']"  class="col-md-4">
                    <div style="border: 1px solid black;height: 150px;text-align: center;padding: 45px 0px;">
                            <h3>Products</h3>
                    </div>

            </div>
            <div style="padding:15px" class="col-md-4">
                    <div style="border: 1px solid black;height: 150px;text-align: center;padding: 45px 0px;">
                            <h3>Inventory Log</h3>
                    </div>

            </div>
        </div>
    </div>
</div>



