<div *ngIf="cart != undefined && cart.cartItems.length>0" style="padding-top:50px">
    <div class="container">
        <div class="row" *ngFor="let ci of cart.cartItems; let i = index">
            <div class="col-2">
                {{i+1}}
            </div>
            <div class="col-4">
                {{ci.product.name}}
            </div>
            <div class="col-4">
                <div style="margin-top:-7px">
                        <jhi-add-to-cart  [product]='ci.product' [cartLoading]='false'></jhi-add-to-cart>
                </div>
            </div>
            <div class="col-2">
                {{ci.product.pricePerUnit * ci.quantity}}
            </div>

        </div>



    </div>
</div>


<div *ngIf="cart==undefined || (cart != undefined && cart.cartItems.length===0)" style="padding-top:50px">
    <p style="text-align: center;font-size:18px;font-weight: bold;margin-top: 40vh">Your cart is empty</p>
</div>
