<div style="padding-top:15px">
<div *ngIf="account==undefined" style="width:40%;height:39px;display: block" class="animated-background"></div>
<h2 *ngIf="account!=undefined">{{account.firstName}}</h2>
<p style="color:#7c7c7cc4;font-weight: bold;;font-size: 14px"><span (click)='logout()' style="cursor:pointer;text-decoration: underline">Log Out</span>

<span [routerLink]="['/dashboard']" style="cursor:pointer;text-decoration: underline" *jhiHasAnyAuthority="'ROLE_ADMIN'"> | Admin Dashboard</span></p>
</div>
