

<div>
    <router-outlet  *jhiHasAnyAuthority="['ROLE_USER']" name="navbar"></router-outlet>
</div>
<div style="position:fixed;top: 10px;width: 100%;;margin:0 auto;">
    <div style="width:400px;margin: 0 auto;display: block;text-align:center;">    <lib-ngx-notification></lib-ngx-notification>
    </div>

</div>
<div [@routerAnimation]="getRouteAnimation(o)" class="container" style="padding:0px">

        <div>
            <div class="row">
                <div style="padding-top:15px" class="col-lg-8">
                        <router-outlet #o="outlet"></router-outlet>

                </div>
                <div  style="padding:15px" class="col-lg-4 hidden-mobile" *jhiHasAnyAuthority="['ROLE_USER']">
                        <div  class="box-shadow">
                                <jhi-user-cart></jhi-user-cart>

                            </div>
                </div>
            </div>
            <router-outlet name="popup"></router-outlet>
        </div>
</div>
<div class="hidden-desktop">
    <router-outlet name="menu" *jhiHasAnyAuthority="['ROLE_USER']"></router-outlet>
</div>
