<nav style="height:65px;position: relative;top: 0px;width: 100vw;background: white;display:block" class="shadow navbar  navbar-expand-md jh-navbar hidden-mobile">
    <span style="display: inline-block;float: right;margin-right: 20px;margin-top: 15px;">
            <span routerLink='/listing' style="outline:none;cursor:pointer;margin-right: 25px;font-size: 14px;font-weight: bold;color: #198c19;">Home</span>
            <span routerLink='/user-orders' style="outline:none;cursor:pointer;margin-right: 25px;font-size: 14px;font-weight: bold;color: #198c19;">Orders</span>
            <span  routerLink="/my-account"  style="outline:none;cursor:pointer;margin-right: 25px;font-size: 14px;font-weight: bold;color: #198c19;">Account</span>
    </span>

</nav>
