
<div class="container">

<div style="margin-top:15px">
    <button id="jh-create-entity" class="btn btn-default jh-create-entity create-product" [routerLink]="['/dashboard']">
        <span >
        Back
        </span>
    </button>

<button id="jh-create-entity" class="btn btn-primary jh-create-entity create-product" [routerLink]="['/product/new']">
    <fa-icon [icon]="'plus'"></fa-icon>
    <span >
    Add new Product
    </span>
</button>
</div>

<div>
<div *ngFor="let product of products" class="product">
    <button style="float:right" type="submit" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary btn-sm ">
        <fa-icon [icon]="'pencil-alt'"></fa-icon>
        <span class="d-none d-md-inline">Edit</span>
    </button>

    <h5  class="product-title">{{product.name}}</h5>
    <p class="product-id">Product Id - {{product.id}}</p>
    <p style="font-size:16px;" *ngIf="product.active" class="active">Active</p>
    <p style="font-size:16px;" *ngIf="!product.active" class="inactive">Inactive</p>
    <p style="font-size: 14px;
    background: #34455be3;
    padding: 5px;
    color: #fff;
    margin-top: 15px;" class="quantity">Quantity - {{product.quantity}} {{product.unit.name}}</p>
    <p style="    float: right;
    position: relative;
    top: -30px;
    font-size: 14px;
    background: #34455be3;
    padding: 5px 20px;
    color: #fff;" class="price">&#8377;{{product.pricePerUnit}}/{{product.unit.name}}</p>

</div>
</div>


</div>


