<div class="row" style="width:100vw!important;position:fixed;top:0px;left:0px">
    <div class="col-lg-12 clear-fix" style="padding: 0px!important;width:100vw;min-height:100vh;background:url(content/images/listing-bg.jpeg);background-size: cover;
    background-position: center;display: flex;align-items: center;justify-content: center;">
        <div style="background:#030302de;padding:55px 0px;" class="full-width center clear-fix">
            <img class="tomato" style="width:25%;margin-bottom:50px;" src="../../content/images/tomato.svg" />
            <button style="height:50px;font-size:106%;width:80%" class="btn full-width" (click)="login()">Sign In</button>
            <p style="color:#fff;margin-top:15px">Dont have an account? <span style="color:#198C19" routerLink="register" routerLinkActive="active" style="cursor:pointer">Sign up now</span></p>
        </div>
    </div>
</div>



