<div style="padding:0px;min-height:100vh;">


    <div *ngIf="cartLoading" style="display:block;background:#ffffff52;height:calc(100vh - 95px);position: absolute;z-index: 1;width:100%;">
    </div>
    <div *ngIf="loading" class="container noPadding">
        <div class="row" style="z-index:1;margin-bottom:100px;">
            <div class="col-lg-12">
                    <div  style="max-height:100px;" class="timeline-item">
                            <div style="height:100px;width:100px;display:inline-block;" class="animated-background"></div>
                            <div style="padding:5px 15px;position:absolute;display:inline-block;width:100%">
                                <p class="animated-background" style="font-weight:bold;margin: 0px;font-size: 16px;display: block;width:50%;height:20px"></p>
                                <p class="animated-background" style="font-weight:bold;margin: 0px;margin-top:10px;font-size: 16px;display: block;width:40%;height:15px"></p>
                                <div style="width:100%">
                                    <div style="border-top: 1px solid #82838261;width:70%;margin-top: 10px;">
                                        <p class="animated-background" style="font-weight:bold;margin: 0px;margin-top:10px;font-size: 16px;display: block;width:30%;height:10px"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div *ngIf="!loading&&products.length>0"  class="row " style="z-index:1;margin-bottom:100px;">
            <div style=" display: block;width: 100%;height: 300px;    background:url(content/images/listing-bg.jpeg);
            background-position: center;background-size: cover;">
        <h3 style="background: #11171fe3;padding: 15px;font-family: 'Krub', sans-serif!important;color: #fff;
        text-align: center;margin-top: 115px;font-size: 30px;letter-spacing: 0px;width: 365px;margin-left: auto;
        margin-right: auto;">Fresh Produce For You</h3>
            </div>
        <div  class="col-lg-12 ">
            <ng-container *ngFor="let x of [1,2,3]">
            <div *ngIf="loading" style="max-height:100px;" class="timeline-item">
                <div style="height:100px;width:100px;display:inline-block;" class="animated-background"></div>
                <div style="padding:5px 15px;position:absolute;display:inline-block;width:100%">
                    <p class="animated-background" style="font-weight:bold;margin: 0px;font-size: 16px;display: block;width:50%;height:20px"></p>
                    <p class="animated-background" style="font-weight:bold;margin: 0px;margin-top:10px;font-size: 16px;display: block;width:40%;height:15px"></p>
                    <div style="width:100%">
                        <div style="border-top: 1px solid #82838261;width:70%;margin-top: 10px;">
                            <p class="animated-background" style="font-weight:bold;margin: 0px;margin-top:10px;font-size: 16px;display: block;width:30%;height:10px"></p>
                        </div>
                    </div>
                </div>
            </div>
            </ng-container>
            <ng-container *ngIf="!loading&&products.length>0">

                <div class="noPadding container">
                    <div class="row">
                        <div class="col-lg-8 col-12" style="padding:0px 25px!important">
                                <p *ngIf="products.length>0" style="margin-top:15px;margin-bottom:-10px;">{{products.length}} items</p>
                                <div *ngFor="let product of products" style="max-height:100px;" class="timeline-item  noPadding">
                                    <div class="row ">
                                        <div class="col-12 ">
                                        <div *ngIf="product.name==='Tomatoes'" style="background: url(content/images/tomatoes.jpg);height: 30vw;
                                        width: 30vw;max-height:100px;max-width:100px;display: inline-block;background-position: center;background-size: cover;background-repeat: no-repeat;vertical-align: top"></div>
                                        <div *ngIf="product.name!='Tomatoes'" style="height: 30vw;width: 30vw;max-height:100px;max-width:100px;display:inline-block;vertical-align: top" class="animated-background"></div>

                                        <div style="padding:5px 0px 5px 15px;display:inline-block;width: calc(100% - 108px);vertical-align: top">
                                            <p style="font-weight:bold;margin: 0px;font-size: 14px">{{product.name}}</p>
                                            <p style="margin:0px;font-size:12px;"><span>&#8377;</span>{{product.pricePerUnit}}/{{product.unit.name}}</p>
                                            <div style="border-top: 1px solid #82838261;margin-top: 10px">
                                                <p style="font-weight:bold;margin-top:15px;font-size:60%;display: inline-block;width:45%;color:#4b4b4b75">Mininum {{product.minimumQuantity}} {{product.unit.name}}s</p>
                                                <jhi-add-to-cart (passCart)="passCart($event)" [product]='product' [cartLoading]='cartLoading'></jhi-add-to-cart>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div style="box-shadow: 0px 5px 9px 0px #8888886e;position: relative;top: -30px;background: #fff;" class="col-lg-4 hidden-mobile">
                            <jhi-user-cart></jhi-user-cart>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>









</div>
