.full-width{
    width:350px;
    max-width:80vw;
}
.center{
margin:0 auto;
text-align: center;
}

p{font-size:14px;}
 button{
     background:#198C19!important;
     color:#fff;
 }

.tomato{
    animation: float 6s ease-in-out infinite;

}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
