.row {
    margin: 0px !important;
}

@media (max-width: 766px) {
    .back-btn{
        position: absolute;
        bottom: 50px;
        left:0px;
        width: 100%;
        max-width: 100%!important;
    }
}

