<button id="jh-create-entity" class="btn btn-default jh-create-entity create-product" [routerLink]="['/dashboard']">
    <span >
    Back
    </span>
</button>

<div  >
    <div class="container" style="font-size: 12px">
        <div style="padding-bottom:100px;" class="row">
            <div style="padding:15px" class="col-md-4">
                <div style="border: 1px solid black;height: 150px;text-align: center;padding: 45px 0px;">
                        <h3>Received</h3>
                </div>

            </div>
            <div style="outline:none;cursor:pointer;padding:15px" [routerLink]="['/dashboard/products']"  class="col-md-4">
                    <div style="border: 1px solid black;height: 150px;text-align: center;padding: 45px 0px;">
                            <h3>Confirmed</h3>
                    </div>

            </div>
            <div style="padding:15px" class="col-md-4">
                    <div style="border: 1px solid black;height: 150px;text-align: center;padding: 45px 0px;">
                            <h3>Dispatched</h3>
                    </div>

            </div>
            <div style="padding:15px" class="col-md-4">
                <div style="border: 1px solid black;height: 150px;text-align: center;padding: 45px 0px;">
                        <h3>Delivered</h3>
                </div>

        </div>
        <div style="padding:15px" class="col-md-4">
            <div style="border: 1px solid black;height: 150px;text-align: center;padding: 45px 0px;">
                    <h3>Canceled</h3>
            </div>

    </div>
        </div>
    </div>
</div>



