<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt><span>Minimum Quantity</span></dt>
                <dd>
                    <span>{{product.minimumQuantity}}</span>
                </dd>
                <dt><span>Price Per Unit</span></dt>
                <dd>
                    <span>{{product.pricePerUnit}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{product.active}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{product.quantity}}</span>
                </dd>
                <dt><span>Unit</span></dt>
                <dd>
                    <div *ngIf="product.unit">
                        <a [routerLink]="['/unit', product.unit?.id, 'view']">{{product.unit?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
