<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cart-items-heading">Create or edit a Cart Items</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cartItems.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cartItems.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" [(ngModel)]="cartItems.product" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id === cartItems.product?.id ? cartItems.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cart">Cart</label>
                    <select class="form-control" id="field_cart" name="cart" [(ngModel)]="cartItems.cart" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cartOption.id === cartItems.cart?.id ? cartItems.cart : cartOption" *ngFor="let cartOption of carts; trackBy: trackCartById">{{cartOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
